.repoint*
Makefile
Makefile.tonyapp
*/Makefile
o/*
*/o/*
*/tmp_obj/*
*/tmp_moc/*
doc/html/
*.o
*.so
*.so.*
*.a
*~
*.orig
*.rej
vamp-plugin-sdk
svcore
svgui
svapp
piper-cpp
piper-vamp-cpp
dataquay
bqvec
bqfft
bqresample
bqaudioio
bqaudiostream
bqthingfactory
checker
sv-dependency-builds
icons/scalable
chp
pyin
glob:.repoint*
build
build_win32
build_win64
build_win64_debug
*.AppImage
*.AppDir
Dockerfile*.gen
squashfs-root
*.app
Makefile.*
.qmake.stash
*.dylib
test-svcore-*
*.dmg
.notarization-uuid
Dockerfile*.gen

